{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block stylesheets %}
           {# {{ encore_entry_link_tags('app') }} #}

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery.fancybox.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style-responsive.css') }}" rel="stylesheet">
   
{% endblock %}

{% block body %}
<div class="container">
    <section>
        <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Gallery</h3>
        <hr>
        <div class="row mt">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                <div class="photo-wrapper">
                    <div class="photo">
                    <a class="fancybox" href="{{ asset('images/portfolio/port04.jpg') }}"><img class="img-responsive" src="{{ asset('images/portfolio/port04.jpg') }}" alt=""></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>
            </div>
            </div>
            <!-- col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                <div class="photo-wrapper">
                    <div class="photo">
                    <a class="fancybox" href="{{ asset('images/portfolio/port05.jpg') }}"><img class="img-responsive" src="{{ asset('images/portfolio/port05.jpg') }}" alt=""></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>
            </div>
            </div>
            <!-- col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                <div class="photo-wrapper">
                    <div class="photo">
                    <a class="fancybox" href="{{ asset('images/portfolio/port06.jpg') }}"><img class="img-responsive" src="{{ asset('images/portfolio/port06.jpg') }}" alt=""></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>
            </div>
            </div>
            <!-- col-lg-4 -->
        </div>
        <!-- /row -->
        <div class="row mt">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                <div class="photo-wrapper">
                    <div class="photo">
                    <a class="fancybox" href="{{ asset('images/portfolio/port01.jpg') }}"><img class="img-responsive" src="{{ asset('images/portfolio/port01.jpg') }}" alt=""></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>
            </div>
            </div>
            <!-- col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
                <div class="project">
                <div class="photo-wrapper">
                    <div class="photo">
                    <a class="fancybox" href="{{ asset('images/portfolio/port02.jpg') }}"><img class="img-responsive" src="{{ asset('images/portfolio/port02.jpg') }}" alt=""></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>
            </div>
            </div>
            <!-- col-lg-4 -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper" >
                <div class="project" style="height:5px;width:134px">
                <div class="photo-wrapper">
                    <div class="photo">
                        <a class="fancybox" href="{{ asset('images/portfolio/jord.jpg') }}"><img class="img-responsive" src="{{ asset('images/portfolio/jord.jpg') }}" alt=""></a>
                    </div>
                    <div class="overlay"></div>
                </div>
                </div>
            </div>
            </div>
            <!-- col-lg-4 -->
        
        </div>
        <!-- /row -->
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
        <p>
            &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <a href="gallery.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
<div>

{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!--script for this page-->
        <script type="text/javascript">
          $(function() {
            //    fancybox
            jQuery(".fancybox").fancybox();
          });
        </script>


{% endblock %}